body {
    margin: 0;
    font-family: "poppins", sans-serif;
}
*
 {box-sizing: border-box;}

h1,h5 {
    margin: 0;
}
.btn__dark {
    display: inline-block;
    background-color: #212121;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 100px;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all .5s;
}
.btn__dark:hover{
    background-color: #fff;
    color: #f4151f;
}
.margin__top{
    margin-top: 15px;
 }
.narbar ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #212121;
}
.narbar ul li {
    display: inline-block;
}
.narbar li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 20px;
    font-size: 13px;
    color: white;
    letter-spacing: 2px;
}
/* Hello Section */
.hero__section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    background-image:url("../image/reviewfood.jpg");
    background-size: cover;
}
.hero__text {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.hero__text h1{
    font-size: 100px;
    font-weight: 500;
}
.hero__text p {
    letter-spacing: 5px;
}
/* Recipe section */
.recipe__section {
    padding: 70px 0;
}
.image__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
    overflow: hidden;
    border-radius: 2px;
}
.image__wrapper img {
    width: 100%;
    max-width: 100%;
    height: 400px;
    transition: all 0.4s;
}
.image__wrapper:hover img {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}
.image__wrapper-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    bottom: 0;
   max-height: 150px;
   padding: 30px 15px;
}
.image__wrapper-text h5 {
   color: lightgreen;
   font-size: 20px;
   font-weight: 500;
}
.image__wrapper-text p {
    line-height: 26px;
}
.col-md-4 {
    margin-top: 10px;
}
/* -------Foooter của trang--------- */
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   }
   .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
  color: aqua;
}
.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}