
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
  <title>Single Post</title>
  <link rel="stylesheet" href="dalat.css">
</head>
<body>
<!-- header -->
<header class="narbar">
  <div class="narbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/vechungtoi">Về chúng tôi</a>
      </li>
      <li>
        <a href="/blogs/2">Review ẩm thực</a>
      </li>
      <li>
        <a href="/dichvu">24/7</a>
      </li>
      <li>
        <a href="/guidebook">Guiledbook</a>
      </li>
    </ul>
  </div>
  <div class="hero__section">
    <div class="hero__text">
      <h1>ĐÀ LẠT REVIEW</h1>
    </div>
  </div>
</header>
-
<!-- -----Content------ -->
<div class="content clearfix">
  <!-- Main content -->
  <div class="main-content single">
    <h1 class="post-title">Review Chi Tiết Kinh Nghiệm Du Lịch Đà Lạt </h1>


    <div class="post-content">
      <p>Nhiều người hỏi quá nên em chia sẻ kinh nghiệm chuyến đi du hí một chút ạ. Phải nói là ở Đà Lạt thích thật ý, đồ ăn ngon mà rẻ. Khách sạn hay homestay cũng rẻ mà lại đẹp nữa. Thời tiết sáng nắng chiều mưa tối thì lạnh cóng </p>
      <img src="/image/Review Đà Lạt/Đà Lạt 01.jpg" alt="">
      <h3>Di chuyển khi đến Đà Lạt</h3>
      <p>- Từ sân bay Liên Khương di chuyển về trung tâm thành phố Đà Lạt các bạn có thể di chuyển bằng xe bus về đến quảng trường với giá 40k 1 người. Hoặc có thể bắt taxi. Như bọn mình đi 2 người bắt taxi về đến nơi ở là 180k. </p>
      <p>- Những ngày đầu đến bọn mình có thuê xe máy tại chỗ ở luôn giá xe ga 160k/ngày, xe số 100k/ngày. Mình khuyên các bạn nên đi xe máy để trải nghiệm cảm giác ở đây nhé. Đường ở đây không có đèn đỏ, các điểm thăm quan chụp ảnh chỉ cách nhau 5-10km</p>
      <p>- Nếu thuê xe máy 1 ngày các bạn có thể đi 5-7 điểm chỉ sợ không đủ sức. Thuê xe máy có cái lợi là bạn có thể tự do di chuyển bất kì đâu bạn thích, không cố định về thời gian giờ giấc. Đi ngang đường có thể xuống chụp ảnh bất cứ lúc nào. Tuy nhiên các bạn chỉ nên đi xe máy ở những điểm gần, tham quan điểm xa các bạn nên thuê taxi trọn gói cả ngày nhé. </p>
      <h3>Đến Đà Lạt ở đâu</h3>
      <p>- 2 ngày đầu tiên mình ở: Là Nhà - Homestay - số 77 Hoàng Diệu - sđt 0903650377( nhớ sau khi book vé thì đặt phòng luôn kẻo hết nhé - phòng 1 hay 2 hay tập thể đủ cả luôn )
        Chi phí: 300.000 – 650.000 VND/phòng. Giá giường dorm: 170.000 VND/giường. Giá thuê lều: 150.000 VND/lều/người.
        Thêm 1 người thì thêm khoảng 100k.</p>
      <img src="../image/Review%20Đà%20Lạt/Đà%20Lạt%2002.jpg" alt="">
      <p>Chắc chắn đây là chỗ ở mà mọi cô gái đều thích, vô cùng Vintage và đáng yêu. Ngày đầu tiên mình đến Đà Lạt trời mưa to không đi đâu được, tuy nhiên chỉ lượn lờ trong Là Nhà cũng đủ để có những bức ảnh so deep rồi nhé. Mọi ngóc ngách trong đây chỗ nào cũng đẹp, hơn nữa buổi tối nếu thích ăn BBQ nướng ngoài trời mn có thể liên hệ để Là Nhà chuẩn bị nha. 150k/ng thui nhé. </p>
    </div>
  </div>
  <!-- Main content -->
  <div class="sidebar single">


    <div class="section popular">
      <h2 class="section-title">Popular</h2>

      <div class="post clearfix">
        <img src="../image/Review%20Tp.HCM/Hồ%20Chí%20%20Minh%20Review.jpg" alt="">
        <a href="/hochiminh" class="title"><h4>Hồ Chí Minh có gì? Cùng chúnng mình khám phá TP.Hồ Chí Minh nào!</h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Review%20Hội%20An/Hội%20an%2001.jpg" alt="">
        <a href="/hoian" class="title"><h4>Top 9 địa điểm phải đến khi đi Hội An</h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Tây%20Bắc/Tây%20Bắc%2001.jpg" alt="">
        <a href="" class="title"><h4>Tây Bắc núi rừng hùng vĩ như thế nào?</h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Đà%20Nẵng/Đà%20Nẵng%2001.png" alt="">
        <a href="/danang" class="title"><h4>Đà Nẵng-Thành phố nằm giữa đất nước có gì đặc biệt? </h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Đà%20lạt%2001.jpg" alt="">
        <a href="/dalat" class="title"><h4>Review Chi Tiết Kinh Nghiệm Du Lịch Đà Lạt </h4></a>
      </div>

    </div>
    <div class="section topics">
      <h2 class="section-title">Topics</h2>
      <ul>
        <li><a href="/blogs/2">Review ẩm thực</a></li>
        <li><a href="/blogs/1">Đi du lịch</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<!-- -----------Footer------------ -->
<footer class="footer">
  <div class="footer-content">
    <h3>Welcome to our Blog</h3>
    <p>
    <pre>
        Với sứ mệnh Chia Sẻ Kinh nghiệm Du lịch cho cộng đồng du lịch Việt Nam, chuyên sâu là những kinh nghiệm thực tế, review thật, trải nghiệm thật.
        Mục đích giúp mọi người đều có thể đi Du Lịch Tự Túc một cách dễ dàng.
        </pre>
    </p>
    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.youtube.com/c/AndyNguyen"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 codeOpacity. designed by <span>Quang Vũ</span></p>
  </div>
</footer>
</body>
</html>