
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../font/fontawesome-free-6.4.0/css/all.css">
  <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="dichvu.css">
  <title>Dịch Vụ 24/7</title>
</head>
<body>
<container class="body">
  <div class="section">
    <div class="title">
      <h1>Hỗ trợ 24/7</h1>
    </div>
    <div class="services">
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-phone"></i>
        </div>
        <h2>Gọi điện</h2>
        <p>Gọi cho chúng tôi qua số 0333956485 để nhận được sự hỗ trợ trực tuyến</p>
        <a href="tel:0333956485" class="button">Gọi ngay(Chỉ khi dùng điện thoại)</a>
      </div>
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <h2>Email</h2>
        <p>Gửi nội dung đến Công ty Việt Nam Book qua email: lienhe@vietnambooking.com   </p>
        <a href="https://www.google.com/intl/vi/gmail/about/" class="button">Gửi email ngay</a>
      </div>
      <div class="card">
        <div class="icon">
          <i class="fa-sharp fa-solid fa-location-dot"></i>
        </div>
        <h2>Địa chỉ</h2>
        <p>Đến trụ sở văn phòng làm việc ở địa chỉ số nhà 27 ngõ 18 Thanh Bình-Mỗ Lao-Hà Đông-Hà Nội để được hỗ trợ trực tiếp</p>
        <a href="https://www.google.com/maps/dir//18+%C4%90.+Thanh+B%C3%ACnh,+P.+M%E1%BB%99+Lao,+H%C3%A0+%C4%90%C3%B4ng,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@20.9769464,105.7777615,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x3134532d190d01bf:0xa15066aab97ed735!2m2!1d105.7803364!2d20.9769414!3e0?hl=vi-VN" class="button">Xem trên Google Maps</a>
      </div>
    </div>
  </div>
</container>
<!-- ---------footer--------- -->
<footer class="footer">
  <div class="footer-content">
    <h3>Công ty cổ phần Việt Nam Booking</h3>
    <p>Chúng tôi là công ty về du lịch hàng đầu Việt Nam, ở đây chúng tôi sẽ cung cấp đầy đủ những thứ bạn cần</p>
    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.youtube.com/c/AndyNguyen"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 codeOpacity. designed by <span>Quang Vũ</span></p>
  </div>
</footer>
</body>
</html>