
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Single Post</title>
  <link rel="stylesheet" href="guidebook.css">
</head>
<body>
<!-- header -->
<header class="narbar">
  <div class="narbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/vechungtoi">Về chúng tôi</a>
      </li>
      <li>
        <a href="/blogs/2">Review ẩm thực</a>
      </li>
      <li>
        <a href="/dichvu">24/7</a>
      </li>
      <li>
        <a href="/guidebook">Guildebook</a>
      </li>
    </ul>
  </div>
  <div class="hero__section">
    <div class="hero__text">
      <h1>GUIDEBOOK</h1>
    </div>
  </div>
</header>

<!-- -----Content------ -->
<div class="content clearfix">
  <!-- Main content -->
  <div class="main-content single">
    <h1 class="post-title">KINH NGHIỆM DU LỊCH VIỆT NAM</h1>


    <div class="post-content">
      <p>Chào bạn! Đi du lịch là một trải nghiệm thú vị và đầy hứng khởi. Dưới đây là một số kinh nghiệm cơ bản mà bạn có thể tham khảo để có chuyến du lịch thật tuyệt vời:

        Lên kế hoạch trước: Trước khi đi du lịch, bạn cần lên kế hoạch cho chuyến đi của mình. Bao gồm địa điểm, lịch trình, khách sạn, phương tiện di chuyển, thời tiết và ngân sách.</p>

      <p>   Tìm hiểu địa điểm: Trước khi đi du lịch, bạn nên tìm hiểu thông tin về địa điểm đó để biết về lịch sử, văn hóa, con người, ẩm thực và các điểm tham quan nổi tiếng.

        Đóng gói hành lý thông minh: Hãy chuẩn bị đồ dùng cá nhân, quần áo và giày dép phù hợp với điều kiện thời tiết và hoạt động của bạn. Đừng quên mang theo một số thứ như camera, pin dự phòng, khăn giấy, nước uống, bản đồ và bảo hiểm du lịch.

        Thông báo cho người thân và bạn bè: Trước khi đi du lịch, hãy thông báo cho người thân và bạn bè về lịch trình của bạn, nơi bạn đang ở và thông tin liên lạc của bạn.</p>
      <img src="../image/5.jpg" alt="">


      <p>   An toàn trên đường: Luôn luôn giữ an toàn khi đi du lịch bằng cách giữ mặt cười và thái độ lịch sự, tránh gây rắc rối hoặc tiếp xúc với những người lạ. Nếu có vấn đề gì xảy ra, hãy liên hệ với đại sứ quán hoặc cơ quan cảnh sát địa phương.

        Tận hưởng chuyến đi: Cuối cùng, hãy tận hưởng chuyến đi của mình bằng cách tham quan các địa điểm thú vị, nếm các món ăn đặc trưng, chụp ảnh và kết bạn với những người địa phương. Điều quan trọng là hãy tận hưởng mỗi khoảnh khắc của chuyến đi và tạo ra những kỷ niệm đáng nhớ.</p>
    </div>
  </div>
  <!-- Main content -->
  <div class="sidebar single">


    <div class="section popular">
      <h2 class="section-title">Popular</h2>

      <div class="post clearfix">
        <img src="../image/Review%20Tp.HCM/Hồ%20Chí%20%20Minh%20Review.jpg" alt="">
        <a href="/hochiminh" class="title"><h4>Hồ Chí Minh có gì? Cùng chúnng mình khám phá TP.Hồ Chí Minh nào!</h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Review%20Hội%20An/Hội%20an%2001.jpg" alt="">
        <a href="/hoian" class="title"><h4>Top 9 địa điểm phải đến khi đi Hội An</h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Tây%20Bắc/Tây%20Bắc%2001.jpg" alt="">
        <a href="" class="title"><h4>Tây Bắc núi rừng hùng vĩ như thế nào?</h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Đà%20Nẵng/Đà%20Nẵng%2001.png" alt="">
        <a href="/danang" class="title"><h4>Đà Nẵng-Thành phố nằm giữa đất nước có gì đặc biệt? </h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Đà%20lạt%2001.jpg" alt="">
        <a href="/dalat" class="title"><h4>Review Chi Tiết Kinh Nghiệm Du Lịch Đà Lạt </h4></a>
      </div>

    </div>

  </div>
</div>
<!-- -----------Footer------------ -->
<footer class="footer">
  <div class="footer-content">
    <h3>Welcome to our Blog</h3>
    <p>
    <pre>
        Với sứ mệnh Chia Sẻ Kinh nghiệm Du lịch cho cộng đồng du lịch Việt Nam, chuyên sâu là những kinh nghiệm thực tế, review thật, trải nghiệm thật.
        Mục đích giúp mọi người đều có thể đi Du Lịch Tự Túc một cách dễ dàng.
        </pre>
    </p>
    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.youtube.com/c/AndyNguyen"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 codeOpacity. designed by <span>Quang Vũ</span></p>
  </div>
</footer>
</body>
</html>