
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
  <title>Single Post</title>
  <link rel="stylesheet" href="hoian.css">
</head>
<body>
<!-- header -->
<header class="narbar">
  <div class="narbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/vechungtoi">Về chúng tôi</a>
      </li>
      <li>
        <a href="/blogs/2">Review ẩm thực</a>
      </li>
      <li>
        <a href="/dichvu">24/7</a>
      </li>
      <li>
        <a href="/guidebook">Guiledbook</a>
      </li>
    </ul>
  </div>
  <div class="hero__section">
    <div class="hero__text">
      <h1>PHỐ CỔ HỘI AN</h1>
    </div>
  </div>
</header>
-
<!-- -----Content------ -->
<div class="content clearfix">
  <!-- Main content -->
  <div class="main-content single">
    <h1 class="post-title">9 địa điểm du lịch Hội An và điều bí ẩn hớp hồn khách du lịch</h1>


    <div class="post-content">
      <p>Đến với địa điểm du lịch Hội An, du khách sẽ được đắm chìm vào những khoảnh khắc mới lạ ẩn bên trong nét cổ kính của nhiều dãy nhà ngói xưa. Nơi đây mọi thứ đều mang vẻ đẹp dịu dàng đằm thắm, cảnh vật nên thơ hữu tình, con người hiền hoà, thân thiện, hiếu khách </p>
      <img src="/image/Review Hội An/Hội an 01.jpg" alt="">
      <h3>1. Cầu Chùa</h3>
      <p>Đây là địa điểm du lịch Hội An vô cùng nổi tiếng. Chùa Cầu Hội An từ lâu đã đóng vai trò quan trọng trong đời sống tinh thần của người dân trong khu vực, đóng góp vào sự đa dạng văn hóa tại phố cổ.</p>
      <img src="/image/Review Hội An/Cầu chùa.jpg" alt="">
      <p>- Những ngày đầu đến bọn mình có thuê xe máy tại chỗ ở luôn giá xe ga 160k/ngày, xe số 100k/ngày. Mình khuyên các bạn nên đi xe máy để trải nghiệm cảm giác ở đây nhé. Đường ở đây không có đèn đỏ, các điểm thăm quan chụp ảnh chỉ cách nhau 5-10km</p>
      <h3>2. Chợ Hội An</h3>
      <p>Mỗi khi đi du lịch tại bất cứ địa điểm nào, nơi đầu tiên bạn phải ghé qua chính là chợ của khu vực đó. Chợ chính là nơi tái hiện rõ ràng và chân thực nét văn hoá, cuộc sống và tính cách con người của mỗi vùng đất. Chợ Hội An gây ấn tượng bởi nét mộc mạc, thân quen phản ánh chính xác con người nơi đây.</p>
      <img src="../image/Review%20Hội%20An/Chợ%20Hội%20AN.jpg" alt="">
      <p>Chắc chắn đây là chỗ ở mà mọi cô gái đều thích, vô cùng Vintage và đáng yêu. Ngày đầu tiên mình đến Đà Lạt trời mưa to không đi đâu được, tuy nhiên chỉ lượn lờ trong Là Nhà cũng đủ để có những bức ảnh so deep rồi nhé. Mọi ngóc ngách trong đây chỗ nào cũng đẹp, hơn nữa buổi tối nếu thích ăn BBQ nướng ngoài trời mn có thể liên hệ để Là Nhà chuẩn bị nha. 150k/ng thui nhé. </p>
      <h3>3. Cù Lao Chàm</h3>
      <p>Mỗi khi đi du lịch tại bất cứ địa điểm nào, nơi đầu tiên bạn phải ghé qua chính là chợ của khu vực đó. Chợ chính là nơi tái hiện rõ ràng và chân thực nét văn hoá, cuộc sống và tính cách con người của mỗi vùng đất. Chợ Hội An gây ấn tượng bởi nét mộc mạc, thân quen phản ánh chính xác con người nơi đây.</p>
      <img src="../image/Review%20Hội%20An/Cù%20lao%20chàm.jpg" alt="">
    </div>
  </div>
  <!-- Main content -->
  <div class="sidebar single">


    <div class="section popular">
      <h2 class="section-title">Popular</h2>

      <div class="post clearfix">
        <img src="../image/Review%20Tp.HCM/Hồ%20Chí%20%20Minh%20Review.jpg" alt="">
        <a href="/hochiminh" class="title"><h4>Hồ Chí Minh có gì? Cùng chúnng mình khám phá TP.Hồ Chí Minh nào!</h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Review%20Hội%20An/Hội%20an%2001.jpg" alt="">
        <a href="/hoian" class="title"><h4>Top 9 địa điểm phải đến khi đi Hội An</h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Tây%20Bắc/Tây%20Bắc%2001.jpg" alt="">
        <a href="" class="title"><h4>Tây Bắc núi rừng hùng vĩ như thế nào?</h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Đà%20Nẵng/Đà%20Nẵng%2001.png" alt="">
        <a href="/danang" class="title"><h4>Đà Nẵng-Thành phố nằm giữa đất nước có gì đặc biệt? </h4></a>
      </div>
      <div class="post clearfix">
        <img src="../image/Đà%20lạt%2001.jpg" alt="">
        <a href="/dalat" class="title"><h4>Review Chi Tiết Kinh Nghiệm Du Lịch Đà Lạt </h4></a>
      </div>

    </div>
    <div class="section topics">
      <h2 class="section-title">Topics</h2>
      <ul>
        <li><a href="/blogs/2">Review ẩm thực</a></li>
        <li><a href="/blogs/1">Đi du lịch</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<!-- -----------Footer------------ -->
<footer class="footer">
  <div class="footer-content">
    <h3>Welcome to our Blog</h3>
    <p>
    <pre>
        Với sứ mệnh Chia Sẻ Kinh nghiệm Du lịch cho cộng đồng du lịch Việt Nam, chuyên sâu là những kinh nghiệm thực tế, review thật, trải nghiệm thật.
        Mục đích giúp mọi người đều có thể đi Du Lịch Tự Túc một cách dễ dàng.
        </pre>
    </p>
    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.youtube.com/c/AndyNguyen"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 codeOpacity. designed by <span>Quang Vũ</span></p>
  </div>
</footer>
</body>
</html>