<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="vechungtoi.css">
</head>
<body>

<!-- header -->
<header class="narbar">
  <div class="narbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/vechungtoi">Về chúng tôi</a>
      </li>
      <li>
        <a href="/blogs/2">Review ẩm thực</a>
      </li>
      <li>
        <a href="/dichvu">24/7</a>
      </li>
      <li>
        <a href="/guidebook">Guiledbook</a>
      </li>
    </ul>
  </div>
</header>
<div class="heading">
  <h1>Về Chúng Tôi</h1>
  <p>61 Vũ Tông Phan-Khương Trung-Thanh Xuân-Hà Nội</p>
</div>
<section class="about-us">
  <img src="../image/Về%20chúng%20tôi.jpg" alt="">
  <div class="content">
    <h2>Giới Thiệu</h2>
    <p>Chúng tôi là công ty hàng đầu về cung cấp dịch vụ lữ hành và quốc tế hàng đầu Việt Nam .<br>Chúng tôi không ngừng nỗ lực trở thành nhà tổ chức, điều hành tour du lịch và tổ chức sự kiện hàng đầu Việt Nam với mục tiêu vươn xa toàn cầu để “ở đâu có người Việt, ở đấy có chúng tôi” đúng với bản chất của thương hiệu Mạng Lưới Việt.<br>Chúng tôi đặt chữ “Tâm” làm kim chỉ nam cho đội ngũ nhân viên tâm huyết với sản phẩm, tận tụy với khách hàng, tử tế với đồng sự, có trách nhiệm với cộng đồng, xã hội để cùng thực hiện tầm nhìn và sứ mệnh của doanh nghiệp.</p>
  </div>
</section>
<section class="about-us">
  <img src="/image/aaa.jpg">
  <div class="content">
    <h2>CHIA SẺ KINH NGHIỆM DU LỊCH</h2>
    <p>Cuộc sống là cho đi, với niềm Đam Mê Du Lịch của mình, Toidi không có gì ngoài những Kinh Nghiệm chuyến đi. Tất cả đều được chúng tôi chia sẻ hết trong các bài viết. Đây đều là những Trải nghiệm Thật đã .được các thành viên trong team, cũng như cộng đồng cộng tác viên chia sẻ. Bạn cũng đừng ngại ngần chia sẻ những điều thú vị trong chuyến đi của mình với cộng đồng nhé, hãy liên hệ Website Blog Du Lịch để chúng ta cùng giúp mọi người có những chuyến đi đầy Ý Nghĩa, giàu trải nghiệm</p>
  </div>
</section>
<section class="about-us">
  <img src="/image/bbb.webp">
  <div class="content">
    <h2>TẠO NÊN CHUYẾN ĐI GIÀU TRẢI NGHIỆM</h2>
    <p>Du lịch phải thật, trải nghiệm phải thật. Với chúng tôi du lịch phải đi sâu vào cuộc sống địa phương. Trải nghiệm sự bình dị thân thuộc, mỗi bước chân mình đến phải Cảm nhận được điều gì đó. Khám phá ra chính bản thân mình sau mỗi chuyến đi. Những chuyến đi đó cũng phải thực sự Linh hoạt & Tự Do theo cách của chính bạn. Với kinh nghiệm của mình, Toidi tự tin dẫn bạn đến với những chuyến đi thực sự : Tự Do, Trải nghiệm, và Ý nghĩa.</p>
  </div>
</section>
<!-- -----------Footer------------ -->
<section>
<footer class="footer">
  <div class="footer-content">
    <h3>Welcome to our Blog</h3>
    <p>

      Với sứ mệnh Chia Sẻ Kinh nghiệm Du lịch cho cộng đồng du lịch Việt Nam, chuyên sâu là những kinh nghiệm thực tế, review thật, trải nghiệm thật.
      Mục đích giúp mọi người đều có thể đi Du Lịch Tự Túc một cách dễ dàng.

    </p>
    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.youtube.com/c/AndyNguyen"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 codeOpacity. designed by <span>Quang Vũ</span></p>
  </div>
</footer>
</section>
<script src="script.js"></script>
</body>
</html>